<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
    <property name="APP_Name" value="tplatform"/>
    <property name="dir" value="/logs/${APP_Name}/"/>

    <springProfile name="dev">
        <!-- TRACE < DEBUG < INFO < WARN < ERROR -->
        <property name="LEVEL_ROOT" value="DEBUG"/>
        <!-- 第三方日志过滤级别，防止刷屏 -->
        <property name="LEVEL_OTHER" value="INFO"/>
        <property name="LEVEL_SQL" value="TRACE"/>
        <property name="LEVEL_SQL_RESULT" value="ERROR"/>
    </springProfile>
    <springProfile name="prod">
        <!-- TRACE < DEBUG < INFO < WARN < ERROR -->
        <property name="LEVEL_ROOT" value="INFO"/>
        <!-- 第三方日志过滤级别，防止刷屏 -->
        <property name="LEVEL_OTHER" value="WARN"/>
        <property name="LEVEL_SQL" value="WARN"/>
        <property name="LEVEL_SQL_RESULT" value="WARN"/>
    </springProfile>

    <appender name="StdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SysAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${dir}Sys.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${dir}Sys.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 程序异常日志 -->
    <logger name="org.tplatform" level="${LEVEL_ROOT}" addtivity="true">
        <appender-ref ref="SysAppender"/>
    </logger>

    <!-- 下面配置一些第三方包的日志过滤级别，避免刷屏 -->
    <logger name="org.apache.zookeeper" level="${LEVEL_OTHER}"/>
    <logger name="org.springframework" level="${LEVEL_OTHER}"/>
    <logger name="org.alibaba" level="${LEVEL_OTHER}"/>
    <logger name="org.quartz" level="${LEVEL_OTHER}"/>
    <logger name="com.google" level="${LEVEL_OTHER}"/>
    <logger name="net.rubyeye" level="${LEVEL_OTHER}"/>

    <!-- show parameters for mybatis sql -->
	<logger name="com.ibatis" level="${LEVEL_SQL}" />
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="${LEVEL_SQL}" />
	<logger name="com.ibatis.common.jdbc.ScriptRunner" level="${LEVEL_SQL}" />
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="${LEVEL_SQL}" />
	<logger name="java.sql.Connection" level="${LEVEL_SQL}" />
	<logger name="java.sql.Statement" level="${LEVEL_SQL}" />
	<logger name="java.sql.PreparedStatement" level="${LEVEL_SQL}" />

    <root level="${LEVEL_ROOT}">
        <appender-ref ref="StdoutAppender"/>
    </root>
</configuration>